.site-header {
  // min-height: 56px;
  width: 100%;
  position: relative;
  background-color: white;
  // box-shadow: 0 5px 6px -6px #bbb;
  z-index: 100;
  border: 1px solid black;
  .menu-list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
  &.home {
    height: 53px;
    .menu-list {
      margin-top: 23px;
    }
  }
  &.page, &.static_page, &.post {
    height: 43px;
    .menu-list {
      margin: 10px 0;
    }
  }
}
@media (max-width: 767px) {
  .site-header {
      // min-height: 56px;
      width: 100%;
      position: relative;
      background-color: white;
      box-shadow: 0 5px 6px -6px #bbb;
      z-index: 100;
  }
}

.site-header svg {
  transition: fill 0.2s;
  // margin-top: 2px;
  margin-left: 5px;
}

.site-header a {
  text-decoration: none;
  transition: color 0.2s;
}
.site-header a:hover {
  color: $site-red;
  svg {
    fill: $site-red;
  }
}

.site-title {
  font-size: 26px;
  font-weight: 400;
  line-height: 56px;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 10px;
  float: left;
}

.menu-link {
  padding: 5px 10px;
  position: relative;
}
.dropbtn:focus {
  outline: none;
}
/*
  Responsiveness with a dropdown menu
*/

.sub-menu {
  display: none;

}
.toolkit.mobile {
  .sub-menu a {
    padding-left: 10px;
  }
}

@media (min-width: 767px) {
  .dropbtn {
    display: none;
  }
  .dropdown-content {
    display: none;
  }
  .lang-switch {
    display: none;
  }
  .sub-menu {
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
    width: min-content;
    position: relative;
    min-width: 121px;
    top: 13px;
    left: 1px;
    div {
      padding: 12px 12px;
      position: relative;
      .menu-link {
        width: 100%;
        padding: 0;
      }
    }
  }
}
@media (max-width: 767px) {
  .site-header {
      display: none;
  }
  .home-title-container {
    border-bottom: 1px solid black;
  }
  .site-title {
    padding-right: 0.25rem;
  }
  .dropbtn {
      background-color: transparent;
      color: black;
      // padding: 10px 20px;
      // margin-top: 2px;
      margin-right: 10px;
      font-size: 22px;
      border: none;
      cursor: pointer;
  }
  .dropdown {
      // position: relative;
      // position: absolute;
      //
      // display: inline-block;
      // // margin-left: calc(100% - 70px);
      // right: 0;
      // top: 50%;
      // transform: translateY(-50%);
  }
  .dropdown-content {
      display: none;
      position: absolute;
      right: 0px;
      top: 61px;
      background-color: #f9f9f9;
      min-width: 180px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1000;
  }
  .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
  }
  .dropdown-content .sub-menu {
    background-color: #f1f1f1;
    .sub-menu-link {
      // padding-left: 20px;
    }
  }
  // .dropdown-content a:hover {
  //   background-color: #f1f1f1
  // }
  .dropbtn:hover ~ .dropdown-content {
      display: block;
  }
  // .dropbtn:hover {
  //     background-color: #f1f1f1;
  // }
}
