.outer-yes-no-wrapper {
  max-width: 350px;
  margin-bottom: 20px;
  .yes-no-wrapper {
    border: 1px solid lightgrey;
    .question {
      margin: 0;
      padding: 10px 10px 15px 10px;
    }
    .choices {
      width: 100%;
      // height: 50px;
      display: grid;
      grid-template-columns: 50% 50%;
      align-content: center;
      justify-items: center;
      border-top: 1px solid lightgrey;
      > div {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100px;
        width: 100%;
        cursor: pointer;
        color: $site-red;
        transition: background-color 0.2s;
        &.hover {
          background-color: #f1f1f1;
        }
        &.active {
          background-color: $site-red;
          color: white;
        }
        &:not(:first-child) {
          border-left: 1px solid lightgrey;
        }
        h3 {
          margin: 0;
          font-family: "GeometricBlack";
        }
      }

    }
  }

  .incorrect-message, .correct-message {
    display: none;
    margin-top: 20px;
  }
}

.outer-accordion-wrapper {
  max-width: 60%;
  border: 1px solid lightgrey;
  display: grid;
  grid-auto-rows: auto auto;
  position: relative;
  margin-bottom: 20px;
  .example-text-wrapper {
    display: block;
    justify-content: space-between;
    align-items: center;
    // width: 100%;
    position: relative;
    padding: 10px;
    font-family: "GeometricBlack";
    transition: background-color 0.2s;
    cursor: pointer;
    &:hover {
      background-color: #f1f1f1;
    }
    h4 {
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .open {
      display: none;
      position: absolute;
      left: 155px;
      top: 12px;
      color: $site-red;
      font-size: 1.5rem;
    }
    .close {
      position: absolute;
      left: 150px;
      top: 12px;
      color: $site-red;
      font-size: 1.5rem;
    }
  }
  .example-wrapper {
    font-family: "GeometricMedium";
    display: none;
    margin: 20px;
  }
}

#nav-footer-wrapper {
  // .subsection-nav > div, .subsubsection-nav > div {
  //   display: none;
  // }
  .section-nav {
    // border-bottom: 1px solid black;
    h2 {
      // margin-top: 20px;
      margin-bottom: 20px;
    }
  }
  .subsection-nav {
    display: flex;
    > div {
      flex: 1;
      padding: 20px 20px 30px;
      h4 {
        margin: 0;
      }
    }
    > div:not(:first-child) {
      border-left: 1px solid black;
    }
    // grid-template-columns: auto auto;
  }
}


@media (min-width: 768px) {

}
@media (max-width: 768px) {

}
