html {
  position: absolute;
  width: 100vw;
  // scroll-padding-top: 136px;
  height: 100vh;
}

body {
  font-family: "GeometricMedium";
  // position: absolute;
  height: 100vh;
}

a {
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.home-title, .page-title {
  font-family: "GeometricBlack";
}
.home-title {
  font-size: 2.8rem;
}
.page-title {
  font-size: 1.7rem;
  margin: 10px;
}

.home-title-container {
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  width: 100%;
  position: relative;
  min-height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .home-title {
    font-size: 1.2rem;
    margin: 0px;
    margin-left: 10px;
    // padding: 10px;
    // display: inline-block;
    a {
      color: $site-red;
    }
  }
}

#fixed-header-wrapper {
  position: fixed;
    background-color: white;
    width: calc(100% - 40px);
    max-width: 1100px;
    z-index: 1000;
    padding: 20px 20px 0;
    top: 0;
    left: 0;
    /* left: 50%; */
    /* transform: translateX(-50%); */
    right: 0;
    margin: 0 auto;
}

.outer-wrapper {
  // width: 96%;
  min-height: 93vh;
  // position: absolute;
  position: relative;
  left: 0;
  right: 0;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1100px;

  // display: grid;
  // grid-template-rows: auto 100px;

  #main-content {
    position:relative;
    &.home {
      .body-wrapper {
        padding-top: 55px;
        height: calc(100vh - 195px);
        .column-two {
          h2 {
            padding: 20px;
            margin-top: 10px;
            margin-bottom: 30px;
          }
        }
      }
    }
    &.static_page {
      .body-wrapper {
        // grid-template-columns: 23.33% auto;
        display: flex;
        flex-direction: column;
        .column-two {
          display:grid;
          grid-template-columns: auto auto;
          padding-top: 0;
          h1, h2 {
            padding: 0;
            margin-top: 15px;
            margin-top: calc(15px - 146px);
            padding-top: 146px;
          }
        }

      }
    }
    &.post {
      .body-wrapper {
        border-bottom: 1px solid black;
        .column-two {
          padding-top: 20px;
          .page-title {
            margin-left: 0;
            padding-left: 0;
          }
        }
      }
    }
    .body-wrapper {
      width: 100%;
      // height: calc(100% - 53px);
      height: calc(100vh - 145px);
      // min-height: calc(100vh - 230px);
      display: grid;
      grid-template-columns: 33.33% auto;
      border-left: 1px solid black;
      border-right: 1px solid black;
      // > div {
      //   padding: 20px;
      // }

      .column-one {
        padding: 20px;
        overflow: /* scroll */hidden;
        // .home-subtitle {
        //   font-family: "Geometric";
        // }
        .home-title, .home-subtitle {
          color: $site-red;
        }
      }
      .column-two {
        border-left: 1px solid black;
        padding-top: 15%;
        overflow: /* scroll */hidden;
        // padding-bottom: 15%;
        .short-line {
          margin-left: 20px;
          width: 30px;
          border-bottom: 2px solid black;
        }

        .red-box {
          background-color: $site-red;


          /* text-decoration: underline; */
          a {
            color: white;
            position: relative;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            align-items: center;
            width: max-content;
            svg {
              // position: absolute;
              // top: 8px;
              margin-left: 10px;
              width: 20px;
            }
          }

        }
      }
    }
    &.static_page, &.page, &.post {
      .body-wrapper {
        padding-top: 106px;
        .column-two {
          border-left: none;
          padding-left: 20px;
          padding-right: 40px;
          h2 {
            // padding: 10px 0;
          }
        }
      }
    }
  }
  #footer-wrapper {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    height: 100px;
    border: 1px solid black;
    > div:not(:first-child) {
      border-left: 1px solid black;
    }
    > div {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100px;
      a {
        display: contents;
      }
      img {
        max-width: 90%;
        max-height: 60%;
        &.arca-image {
          max-width: 35%;
        }
      }
      > div {
        margin-left: 20px;
        font-size: 0.5rem;
        > span {
          display: block;
        }
      }
    }
  }
  #nav-footer-wrapper {
    position: relative;
    width: 100%;
    border: 1px solid black;
    border-top: none;
    font-family: "GeometricBlack";
    .section-nav {
      display: grid;
      width: 100%;
    }
    .section-nav {
      grid-template-columns: repeat(5, 1fr);
      div h2 {
        text-align: center;
      }
    }
  }
}

@media (min-width: 767px) {
  body.home {
    .home-title-container {
      display: none;
    }
  }
  .outer-wrapper {

    #main-content {
      &.static_page {
        .body-wrapper {
          .column-two {
            padding-left: 15%;
            grid-column-gap: 40px;
            h1,h2 {
              grid-column: 1;
              text-align: right;
              max-width: 300px;
            }
            p {
              grid-column: 2;
            }
            ul {
              grid-column: 2;
            }
            hr {
              grid-column: 2;
              margin-bottom: 15px;
            }
          }
        }
      }
    }
  }

}
@media (max-width: 850px) {
  .menu-link {
    font-size: 0.87rem;
  }
  .site-header svg {
    margin-left: 1px;
  }
  .outer-wrapper {
    #main-content {
      .body-wrapper {
        .column-one {
          .home-title {
            font-size: 2.5rem;
          }
        }
      }
    }
  }
}
@media (max-width: 767px) {
  #fixed-header-wrapper {
    width: 100%;
    padding: 0;
  }
  .menu-link {
    font-size: 1rem;
  }
  .site-header svg {
    margin-left: 5px;
  }
  body {
    #fixed-header-wrapper {
      .home-title-container {
        border: none;
        border-bottom: 1px solid black;
        .home-title {
          margin-left: 20px;
        }
      }
    }
    &.home {
      #fixed-header-wrapper {
        .home-title-container {
          justify-content: flex-end;
        }
      }

    }
  }

  .outer-wrapper {
    grid-template-rows: auto 300px;
    padding: 0;


    #main-content {
      &.static_page, &.page, &.post, &.home {
        .body-wrapper {
          // margin-top: 61px;
          padding-top: 61px;
        }
      }
      &.post {
        .body-wrapper {
          border-bottom: none;
          .column-one {
            grid-row: 2;
          }
        }
      }
      &.home {
        .body-wrapper {
          height: auto;
          .column-two {
            padding-right: 0;
          }
        }
      }
      .body-wrapper {
        grid-template-columns: auto;
        grid-auto-rows: max-content;
        border: none;
        height: auto;
        .column-one {
          .page-title {
            margin: 10px 0;
            padding: 0;
          }
        }
        .column-two {
          border-left: none;
          // border-top: 1px solid black;
          padding-right: 20px;
        }
      }
      &.static_page, &.page, &.post {
        .body-wrapper {
          .column-two {
            padding-top: 30px;
            padding-left: 20px;
            padding-right: 20px;
            // grid-template-columns: auto;
            display: block;
          }
        }
      }
    }
    #footer-wrapper {
      grid-template-columns: auto;
      grid-auto-rows: auto;
      height: auto;
      border: none;
      border-top: 1px solid black;
      > div:not(:first-child) {
        border-left: none;
        border-top: 1px solid black;
      }
    }
    #nav-footer-wrapper {
      border: none;
      .subsection-nav {
        margin: 10px 0;
        > div {
          padding: 20px;
        }
      }
    }
  }
}
@media (max-width: 500px) {
  .home-title-container {
    .home-title {
      font-size: 0.95rem;
    }
  }
}
@media (max-width: 340px) {
  .home-title-container {
    .home-title {
      font-size: 0.9rem;
    }
  }
}
