<!-- SNIPPET INFO: ACCORDION EXAMPlE  **You can delete these notes after referencing!**
  - title: this variable is optional, will be replaced with "Example <num>" otherwise
  - example_text: the text that is visible when the accordion is open
-->

{% include accordion_example.html
  title="This is the example title"
  example_text="This is the example text"
%}
