<div class="feedback-button-wrapper">
  <button id="myBtn">Feedback</button>

</div>
<div class="feedback-form-wrapper">
  <h2>Feedback Form</h2>
  <form action="https://formsubmit.co/silverguide@arca.art" method="POST">
    {% if page.lang == 'en' %}
    <label for="name">Name</label>
    <input type="text" name="name" required>
    <label for="email">Email</label>
    <input type="email" name="email" required>
    <label for="question">Do you have a question about this resource?</label>
    <textarea name="question"></textarea>
    <label for="thankyou">Thank you for providing suggestions on how we can improve this resource.</label>
    <textarea name="thankyou"></textarea>
    {% else %}
    <label for="name">Votre nom</label>
    <input type="text" name="name" required>
    <label for="email">Votre courriel</label>
    <input type="email" name="email" required>
    <label for="question">Avez-vous une question au sujet de cette ressource?</label>
    <textarea name="question"></textarea>
    <label for="thankyou">Merci de nous faire part de vos suggestions sur comment améliorer cette ressource.</label>
    <textarea name="thankyou"></textarea>
    {% endif %}
    <button type="submit">Send</button>
  </form>
</div>

<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2>Modal Header</h2>
    </div>
    <div class="modal-body">

    </div>
  </div>

</div>
