<footer class="footer">
  {% for item in site.data.settings.social %}
    <a href="{{ item.link }}" class="menu-link" target="_blank"><i class="fa fa-{{ item.icon }}" aria-hidden="true"></i></a>
  {% endfor %}
  <div class="post-date"><a href="{{ site.github.url }}/">{{ site.title }} | {{ site.description }} by {{ site.author }}</a></div>
  <a class="active" href="#">{{ site.languageNames[site.lang] }}</a>
  {% for lang in site.languageNames %}
    {% if lang[0] == site.lang %} {% continue %} {% endif %}
    {% if page.namespace %}
      <a href="{% tl {{ page.namespace }} {{ lang[0] }} %}">{{ lang[1] }}</a>
    {% endif %}
  {% endfor %}
</footer>
