{% assign subtitles = site.posts | where: 'lang', page.lang | sort: 'section' %}
{% assign subsection = subtitles | where: 'section', page.section | sort: 'order' %}

<div id="nav-footer-wrapper">
  <div class="section-nav">
    {% for s in subtitles %}
      {% if s.order or s.omit == "yes" %}
      {% else %}
        <div><h2><a href="{{ site.baseurl }}{{ s.url }}">{{ s.section }}</a></h2></div>
      {% endif %}
    {% endfor %}
  </div>
  <div class="subsection-nav">
    {% for sub in subsection %}
      {% if sub.order %}
      <div><h4><a href="{{ site.baseurl }}{{ sub.url }}">{{ sub.title }}</a></h4></div>
      {% endif %}
    {% endfor %}
  </div>
  <div class="subsubsection-nav">

  </div>
</div>
