<header class="site-header">
  <!-- <h3 class="site-title">
    <a href="{{ site.github.url }}/">{{ site.title }}</a>
  </h3> -->
  <nav class="menu-list">
    {% if page.url contains "/en/" %}
      {% for item in site.data.settings.menu.en %}
        <a href="#" class="menu-link">{{ item.name }}</a>
      {% endfor %}
      <a href="{{ site.baseurl }}/fr" class="menu-link">fr</a>
    {% elsif page.url contains "/fr/" %}
      {% for item in site.data.settings.menu.fr %}
        <a href="#" class="menu-link">{{ item.name }}</a>
      {% endfor %}
      <a href="{{ site.baseurl }}/en" class="menu-link">en</a>
    {% endif %}
  </nav>
  <div class="dropdown">
    {% if page.url contains "/en/" %}
      <a href="{{ site.baseurl }}/fr">fr</a>
    {% elsif page.url contains "/fr/" %}
      <a href="{{ site.baseurl }}/en">en</a>
    {% endif %}
    <button class="dropbtn"><i class="fa fa-bars" aria-hidden="true"></i></button>
    <div class="dropdown-content">
      {% if page.url contains "/en/" %}
        {% for item in site.data.settings.menu.en %}
          <a href="github.com" class="menu-link">{{ item.name }}</a>
        {% endfor %}
      {% elsif page.url contains "/fr/" %}
        {% for item in site.data.settings.menu.fr %}
          <a href="#" class="menu-link">{{ item.name }}</a>
        {% endfor %}
      {% endif %}
    </div>
  </div>
  <!-- <div class="lang-switcher">
    {% if page.url == "/en/" %}
      <a href="{{ site.baseurl }}/fr">fr</a>
    {% elsif page.url == "/fr/" %}
      <a href="{{ site.baseurl }}/en">en</a>
    {% endif %}
  </div> -->
</header>
