<div id="footer-wrapper">
  <div>
    <img class="arca-image" src="{{ site.baseurl }}/assets/img/arca_logo.png"/>
    <div>
      <span>&copy; 2020, Artist-Run Centres and</span>
      <span>Collectives Conference \</span>
      <span>Conférence des collectifs et des</span>
      <span>centres d'artistes autogérés</span>
    </div>
  </div>
  <div>
    <img src="{{ site.baseurl }}/assets/img/CCA_RGB_black_e.png"/>
  </div>
  <div>
    <img src="{{ site.baseurl }}/assets/img/2li_EnFr_Wordmark_C.png"/>
  </div>
</div>
