{% if include.answer == 0 %} <!-- no -->
  {% assign classes="wrong|right" | split: "|" %}
{% else %}
  {% assign classes="right|wrong" | split: "|" %}
{% endif %}
<div class="outer-yes-no-wrapper">
  <div class="yes-no-wrapper">
    <h3 class="question">{{ include.question }}</h3>
    <div class="choices">
    {% if page.url contains "/en/" %}
      <div class="{{ classes[0] }}"><h3>yes</h3></div>
      <div class="{{ classes[1] }}"><h3>no</h3></div>
    {% elsif page.url contains "/fr/" %}
      <div class="{{ classes[0] }}"><h3>oui</h3></div>
      <div class="{{ classes[1] }}"><h3>non</h3></div>
    {% endif %}
    </div>
  </div>
  <div class="incorrect-message">
    {% if page.url contains "/en/" %}
      {% if include.no %}
        {{ include.no }}
      {% else %}
        Consult the guide!
      {% endif %}
    {% elsif page.url contains "/fr/" %}
      {% if include.no %}
        {{ include.no }}
      {% else %}
        Consult the guide (FRENCH)!
      {% endif %}
    {% endif %}
  </div>
  <div class="correct-message">
    {% if page.url contains "/en/" %}
      {% if include.yes %}
        {{ include.yes }}
      {% else %}
        Great!
      {% endif %}
    {% elsif page.url contains "/fr/" %}
      {% if include.yes %}
        {{ include.yes }}
      {% else %}
        Bon!
      {% endif %}
    {% endif %}
  </div>
</div>
