---
layout: default
---

<div class="body-wrapper">
  <div class="column-one">
    <h1 class="home-title">{{ page.title }}</h1>
    <h3 class="home-subtitle">{{ page.subtitle }}</h3>
  </div>
  <div class="column-two">
    {{ content }}
    {% if page.line1 %}
      <div class="short-line"></div>
      <h2>{{ page.line1 }}</h2>
    {% endif %}
    {% if page.line2 %}
      <div class="short-line"></div>
      <h2>{{ page.line2 }}</h2>
    {% endif %}
    {% if page.line3 %}
      <h2 class="red-box"><a href="{{ site.baseurl }}/{{ page.lang }}/guide/{{ site.data.translations.guideStart[page.lang] }}">{{ page.line3 }}</a></h2>
    {% endif %}
    {% for part in site.guide %}
      <p>{{ part.title }}</p>
    {% endfor %}
  </div>
</div>
