---
layout: default
---

<div class="body-wrapper">
  <div class="column-one">
    <h1 class="page-title">{{ page.title }}</h1>
    <!-- <h3 class="home-subtitle">{{ page.subtitle }}</h3> -->
  </div>
  <div class="column-two">
    {{ content }}
    {% if page.title == 'guide' %}
      {% assign next_page = site.posts | where:"lang", page.lang | where:"order", 1 %}
      <a class="guide-button" href="{{ site.baseurl }}{{ next_page[0].url }}">{{ site.data.translations.getStarted[page.lang] }}</a>
    {% endif %}
  </div>
</div>
